.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.menutrue {
    flex: 1;
    background-color: #001f3f;
    padding: 30px 10px 10px 0px;
    transition: padding 0.2s;
    transition: all 0.25s;
    height: 100vh;
}

.menufalse {
    flex: 0.1;
    background-color: #001f3f;
    padding: 30px 0px 5px 0px;
    transition: flex 0.5s;
    height: 100vh;
}

.content {
    flex: 7;

    background-color: #f8f8f9;
    height: 100vh;
}
