.recipeStepsContainer {
    /* /* background: #fff;
    box-shadow: 0 0 10px #d3d3d3; */

    border-radius: 20px;
    display: flex;

    margin-right: 20px;
    flex-direction: column;
}

.recipeStepsContainer ol {
    counter-reset: step-counter;
    list-style-type: none;
    padding-left: 0;
    font-family: "Public Sans", sans-serif;
    font-size: 0.88rem;
}

.recipeStepsContainer ol li {
    counter-increment: step-counter;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding-left: 20px;

    line-height: 1.4;
}

.recipeStepsContainer ol li:before {
    content: counter(step-counter) ".";
    margin-right: 10px;
    font-weight: bold;
    font-size: 18px;
    color: #ff6347;
    padding-left: 0px;
    padding-right: 10px;
}
