.recipeTable-container {
    margin: auto;
    background: #fff;
    box-shadow: 0 0 10px #d3d3d3;
    padding: 0px;
    border-radius: 20px;
}

.headerTable {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    color: #2f4f4f;
    font-family: "Public Sans", sans-serif;
    padding: 20px;
}

.view-all {
    color: #001f3f;
    border: none;

    cursor: pointer;
    background-color: #ff7f50;
    border-radius: 10px;
    padding: 15px;
}

.view-all:hover {
    background: #708090;
    color: white;
}

.footerTable {
    font-family: "Public Sans", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}
thead {
    background-color: rgba(13, 71, 161, 0.6);
    font-family: "Public Sans", sans-serif;
    font-size: 0.88rem;
}

td {
    text-align: left;
    padding: 20px 15px;
    border-bottom: 1px dashed #ddd;
    font-family: "Public Sans", sans-serif;
    font-size: 0.8rem;
}

th {
    color: white;
    font-weight: 600;
    text-align: left;
    padding: 20px 15px;
}

.type {
    display: flex;
    align-items: center;
}

.type img {
    border-radius: 50%;
    margin-right: 10px;
}

.options {
    text-align: right;
    color: #001f3f;
    cursor: pointer;
}

.options i {
    font-size: 1rem;
}
