.cardContainer {
    background-color: white;
    padding: 20px;
    border-radius: 20px;

    box-shadow: 0 0 10px #d3d3d3;
    display: flex;
    gap: 20px;
    width: 100%;
    margin-top: 10px;
}

.texts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #2f4f4f;
}

.title {
    margin-bottom: 5px;

    font-family: "Public Sans", sans-serif;
}

.number {
    font-size: 1.9rem;
    font-weight: 600;
    margin-bottom: 5px;

    font-family: "Public Sans", sans-serif;
}
