.recipeDetailContainer {
    width: 100%;
}

.detailContent {
    display: flex;
    gap: 20px;
}

.detailLeft {
    flex: 4;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    height: 100vh;

    padding: 5px;
}

.ingredients {
    display: flex;
    width: 100%;
    height: max-content;
    margin-bottom: 150px;
    margin-top: 20px;
}
.detailRight {
    flex: 4;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    height: 100vh;

    padding: 5px;
}

.prep {
    display: flex;

    height: max-content;
    margin-bottom: 150px;
    margin-top: 20px;
    width: 100%;
}

.detailTitle {
    font-weight: 900;
    font-size: 1.2rem;
    padding: 20px;
    color: #001f3f;
    font-family: "Public Sans", sans-serif;
    margin-bottom: 20px;
    border-bottom: solid 3px #2f4f4f;
    width: max-content;
}

.recipeDetailContainer .recipeImage {
    display: flex;
    width: max-content;
    height: auto;
    max-height: 400px;

    /* border-radius: 20px; */
}
