.sidebarContainer {
    position: sticky;
    top: 40px;
}

.list {
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
}

.cat {
    color: #708090;
    font-weight: 600;
    font-size: 13px;
    margin: 10px 0px;
    font-family: "Public Sans", sans-serif;
}

.link {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0px;
    border-radius: 10px;
    color: white;
    font: 0.93em "Public Sans", sans-serif;
    font-weight: 600;
    transition: all 0.3s;
}

.link:hover,
.active {
    background-color: rgba(13, 71, 161, 0.68);
    color: white;
}

.no-style {
    background-color: transparent;
    border: none;
    color: white;
}
